* {
  background: url("https://images.unsplash.com/photo-1517816428104-797678c7cf0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  min-height: 100%;
  min-width: 100%;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

.btn-container {
  height: 300px;
}

.home-btn,
.search-btn,
.random-btn {
  width: 175px;
  position: relative;
  top: 330px;
  left: 0;
  margin-bottom: 50px;
}
