body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background: #ddd;
}

.homeIMG {
  display: block;
  margin-top: 150px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.btn-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-btn,
.search-btn,
.random-btn {
  width: 150px;
}
